<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/assets/img/fav.png">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <title>{{title}}</title>
</head>
<body>

<div class="container">
    {{>header}}
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Weather App Node Js</h1>

        <div class="row">
            <div class="col-lg-12">
                <h3>About Page</h3>
                <p>This site was created by Muhammad Asim. It uses data from accu weather to show the forecast.</p>
            </div>
        </div>


    </div>

</div>

{{>footer}}
<script src="/assets/js/app.js"></script>
</body>
</html>