<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script src="/assets/js/app.js"></script>
    <title>{{title}}</title>
</head>
<body>
{{>header}}

<p>Created by {{name}}</p>
</body>
</html>